/*search*/

.s1_box{
	border-radius: 5px;
	background-color: #07176a;
	height: 500px;
  margin-left: 150px;
 
}

.s1_head{
	font-family: 'PT Sans Narrow', sans-serif;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.s1_flex{
  display: flex;
  flex-wrap: wrap;
}



.s1_dropbtn{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	margin-left: 25%;
	width: 10%;
	height: 40px;
    border-color: rgb(131, 128, 128);
	text-indent: 30px;
	border-width: 1px;
	border-radius: 10px;
	background-color: #07176a;
	color: #fff;
	z-index: 2;

}
.s1_search{
	font-family: 'Roboto', sans-serif;
	position: relative;
	margin-left: 40%;
	width:30%;
  height: 40px;
  text-align: center;
	border-color: rgb(131, 128, 128);
	border-width: 1px;
	border-radius: 10px;
	background-color: white;
	color: #fff;

	

}



.s1_button{
	width: 6%;
  height: 40px;
  margin-left: 2%;
 text-align: center;
	border-radius: 25px;
	border: 3px solid gray;
	background-color: #07176a;
	color: #fff;
}

.s2_title{
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
	font-weight: bold;
  }
 
  .s2_dropbtn .dropdown{

  
  flex: 0 1 10%;
  padding: 10px;
  
}

.s2_dropbtn1{
  border-color: #838080;
  font-family: 'Roboto', sans-serif;
  background-color: white;
	color: #07176a;
  font-weight: bold;
  border-width: 1px;
  border-radius: 20px;
  width: 150px;
  height: auto;
}
    
.s2_dropbtn{
  display: flex;
  flex-wrap: wrap;
 margin-left: 200px;
	
}

  



  
.co_img{
	height: 200px;
	border: #000;
}
  .co_text1{
	font-family: 'Roboto', sans-serif;
	color: gray;
	padding-left: 0.8%;
	padding-right: 2%;
	line-height: normal;
  }
  .checked {
	color: rgb(236, 173, 37);
  }
  
  .co_logo{
	  right: 8px;
	  height: 40px;
	  width: 50px;
	  z-index: 1;
	  
  }
  .co_text2{
		font-family: 'Roboto', sans-serif;
		color: gray;
		float: right;
		margin-top: 12px;
		margin-right: 100px;
		
		
  }
  .co_text3{
	  color: rgb(21, 133, 21);
	  font-weight: bolder;
  }

  .co_logo2{
	  height: 15px;
	  width: 15px;
  }
  .co_logo3{
	  margin-right: 5px;
	margin-left: 50px;
	height: 15px;
	width: 15px;
}
  .co_title2{
	
	font-size: 2em;
	font-weight: bold;
  }
  .co_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    
    
 }

 .card {
  flex: 0 1 30%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

@media screen and (max-width:600px ) {
  .co_card {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-right: 0%;;
      margin-left:0%; 
      width: 100%;     

  }

  .co_card .card {
      flex: 0 1 calc(30% - 1em);
  }

  .s2_dropbtn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 30%;
      margin-left: 30%;

  
    
  }
  
  .s2_dropbtn .dropdown{

    
    flex: 0 1 calc(10% - 1em);
    padding: 10px;
    
  }
  .s1_box{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .s1_flex{
    display: flex;
    flex-wrap: wrap;
   } 
   .s1_dropbtn{
    width: 25%;
    margin-left: 5%;
   }   

   .s1_search{
    margin-left: 28%;
    width: 50%;
   }   

   .s1_button{
     width:15%;
   }
  .s3_box{
    width: 100%;
   
 
  }
  .s3_top-left{
    font-size: 10px;
    top: 2px;
    

  }
.co_b{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  float: right;
 

}

.co_button3{
  margin-left: 90%;
  margin-top: 40%;
  
}
  
}

@media screen and (max-width:900px ) {
  .co_card {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;

  }

  .co_card .card {
      flex: 0 1 calc(30% - 1em);
  }

  .s2_dropbtn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  
    
  }
  .s2_dropbtn .dropdown{

    
    flex: 0 1 calc(10% - 1em);
    padding: 10px;
    
  }

  .s1_box{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .s1_flex{
    display: flex;
    flex-wrap: wrap;
  
} 


 .s1_dropbtn{
  width: 25%;
  margin-left: 5%;
 }   

 .s1_search{
  margin-left: 28%;
  width: 50%;
 }   

 .s1_button{
   width:15%;
 }

 
 .s3_head3{
  font-size:2em;
  margin-top:0%;
  }

  .s3_top-left{
    font-size: 10px;
    top: 2px;
    

  }
.co_b{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  float: right;
 

}

.co_button3{
  margin-left: 90%;
  margin-top: 40%;
  
}
  
}
.co_head{
	line-height: 18px;;
	color: #07176a;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bolder;
}

.co_button1{
	width: 130px;
	height: 50px;
	background-color: #07176a;
	border-radius: 25px;
  margin-left: 13px;
  margin-right: 5px;
}
.co_button2{
	width: 130px;
	height: 50px;
	background-color: #c52dac;
	border-radius: 25px;
	border-color: #fff;
	
	
	
}
.co_button3{
	width: 140px;
	padding: 5px 5px;
	height: 50px;
	background-color: #07176a;
	border-radius: 25px;
  text-align: center;
  margin-left: 2%;

	
}

.co_b{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 16%;
  margin-right: 10%;
}
.co_button4{
	width: 140px;
  height: 50px;
  padding: 5px 5px;
  margin-left: 2%;
  background-color: #c52dac;
	border-radius: 25px;
	border-color: #fff;
	
	
}
.co_link{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.co_head2{
	text-align: center;
	color: #07176a;
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration: underline;
	font-weight: bold;
}

.s3_box{
  background-image: url("../stuff/images/search/img8.jpg");
  background-position: center center;
    background-repeat: no-repeat;
    
    background-size: cover;
	border-radius: 15px;
	height: 500px;
	position: relative;
	text-align: left;
  
	margin-right: 150px;
}		

.s3_top-left {
	position: absolute;
	top: 100px;
	right: 100px;
	color: #07176a;
	font-family: 'PT Sans Narrow', sans-serif;
	
	
  }
.s3_head3{
	font-weight: bold;

}

